{{- /* Accept either a bare page (single.html, archives.html) or a dict
       {page, isList} passed from list.html. On list pages we show only the
       Created date; the Updated date appears only on the single post page. */ -}}
{{- $page := . }}
{{- $isList := false }}
{{- if reflect.IsMap . }}
{{- $page = .page }}
{{- $isList = .isList }}
{{- end }}

{{- $scratch := newScratch }}

{{- if not $page.Date.IsZero -}}
{{- $scratch.Add "meta" (slice (printf "Created: <span title='%s'>%s</span>" ($page.Date) ($page.Date | time.Format (default "January 2, 2006" site.Params.DateFormat)))) }}
{{- end }}

{{- if and (not $isList) (not $page.Lastmod.IsZero) (ne $page.Lastmod $page.Date) -}}
{{- $scratch.Add "meta" (slice (printf "Updated: <span title='%s'>%s</span>" ($page.Lastmod) ($page.Lastmod | time.Format (default "January 2, 2006" site.Params.DateFormat)))) }}
{{- end }}

{{- if ($page.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" $page.ReadingTime | default (printf "%d min" $page.ReadingTime))) }}
{{- end }}

{{- if ($page.Param "ShowWordCount") -}}
{{- $scratch.Add "meta" (slice (i18n "words" $page.WordCount | default (printf "%d words" $page.WordCount))) }}
{{- end }}

{{- if not ($page.Param "hideAuthor") -}}
{{- with (partial "author.html" $page) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}
